/*постоянные клиенты*/
.client {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media screen and (min-width: $desktop) {
    flex-wrap: nowrap;
  }
  &__item {
    @media (min-width: $mobile) {
      margin: 5px;
    }
    @media screen and (min-width: $tablet) {
      margin: 15px;
    }
  }
  &__icon {
    display: block;
    padding: 12px 36px;
    border: none;
    fill: $fill-icon;
    @include border(1px, $fill-icon);
    border-radius: 4px;
    transition: border 250ms $timing-function;
    transition: fill 250ms $timing-function;
  }
  &__icon:hover,
  &__icon:focus {
    fill: $accent-color;
    @include border(1px, $accent-color);
  }
}
