.footer {
  background: $background-color;
  padding: 60px 0;
  &__box {
    @media screen and (min-width: $mobile) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
    }
    @media screen and (min-width: $tablet) {
      flex-direction: row;
      justify-content: space-between;
    }
    @media screen and (min-width: $desktop) {
      flex-wrap: nowrap;
    }
  }
  &__address {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
  &__social {
    @media screen and (max-width: 767px) {
      margin-bottom: 60px;
    }
    @media screen and (min-width: $tablet) {
      flex-basis: calc((100% - 120px) / 2);
      margin: 30px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    @media screen and (min-width: $desktop) {
      flex-basis: calc((100% - 120px) / 3);
      margin: 30px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__form {
    @media screen and (min-width: $tablet) {
      flex-basis: calc((100% - 120px) / 2);
      margin: 30px;
    }
    @media screen and (min-width: $desktop) {
      flex-basis: calc((100% - 120px) / 3);
      margin: auto;
    }
  }
  &__disription {
    margin: 0;
    margin-bottom: 20px;
    height: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include style(700, 14px, 1.2);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $whitе-color-text;
  }
}
.subscribe-form {
  @extend %flex;
  justify-content: space-between;
  &__input {
    margin-left: 0;
    padding: 8px;
    @extend %flex;
    width: 358px;
    height: 50px;
    color: rgba(255, 255, 255, 0.6);
    @include border(1px, rgba(255, 255, 255, 0.3));
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: transparent;
  }
  &__button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
  }
  &__icon {
    margin-left: 10px;
    width: 24px;
    height: 24px;
  }
}
