.form-group {
  margin-bottom: 10px;
  @extend %flex;
  flex-direction: column;
  &__label {
    margin-bottom: 4px;
    @include style(400, 12px, 1.2);
    color: $primary-text-color;
  }
  &__input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
  }
  &__input,
  &__comment {
    @include border(1px, rgba(33, 33, 33, 0.2));
    box-sizing: border-box;
    border-radius: 4px;
    transition: border 250ms $timing-function, fill 250ms $timing-function;
  }
  &__input:hover,
  &__input:focus {
    border: 1px solid $accent-color;
  }
  &__input:hover + &__icon,
  &__input:focus + &__icon {
    fill: $accent-color;
  }
  &__input:focus-within {
    fill: $accent-color;
    border: 1px solid $accent-color;
  }
  &__comment {
    padding: 12px 16px;
    @include style(400, 12px, 1.2);
    color: $primary-text-color;
    transition: border 250ms $timing-function;
    resize: none;
    margin-bottom: 20px;
  }
  &__comment:hover,
  &__comment:focus {
    @include border(1px, $accent-color);
    box-sizing: border-box;
    border-radius: 4px;
  }
  &__comment:focus-within {
    outline: none;
    border: 1px solid $accent-color;
  }
  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    width: 18px;
    height: 18px;
    transition: fill 250ms $timing-function;
  }
  &__input-group-absolute {
    position: relative;
  }
  & .comment {
    margin-bottom: 20px;
  }
  &__btn {
    text-align: center;
  }
}
