.social-links {
  @extend %flex;
  justify-content: center;
  padding: 16px 32px 0 32px;
  &--footer {
    padding: 0;
  }
  &__item:last-child {
    margin-right: 0;
  }
  &__icon {
    @extend %flex;
    @extend %social-icon;
    fill: $fill-icon;
    transition: background-color 250ms $timing-function;
    transition: transform 250ms $timing-function;
  }
  &__icon:hover,
  &__icon:focus {
    background-color: $accent-color;
    fill: $whitе-color-text;
  }
  &__icon--footer {
    fill: $whitе-color-text;
    background-color: $background-footer-link;
    transition: background-color 250ms $timing-function;
  }
}
