body {
  background-color: $whitе-color-text;
  color: $text-color;
  font-family: Roboto, Arial, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}
ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
a {
  text-decoration: none;
}

.header {
  align-items: center;
  @media screen and (max-width: $tablet) {
    display: flex;
    justify-content: space-between;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.page-header {
  border-bottom: 1px solid $header-line-color;
  @media screen and (max-width: 767px) {
    padding: 16px 0 16px 0;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 16px;
  }
}
.title {
  color: $text-color;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  @media (min-width: $mobile) {
    width: 480px;
  }
  @media (min-width: $tablet) {
    width: 768px;
  }
  @media (min-width: $desktop) {
    width: 1200px;
  }
}
.section {
  padding: 94px 0;
}
.text-hidden {
  visibility: hidden;
  font-size: 0;
}
input {
  outline: none;
}
.section-team {
  background: $filter__background-color;
}
