$primary-text-color: #757575;
$second-color: #212121;
$accent-color: #2196f3;
$whitе-color-text: #fff;
$text-color: #000;
$background-color: #2f303a;
$filter__background-color: #f5f4fa;
$header-line-color: #ececec;
$projects-bgc: #eeeeee;
$background-image-color: rgba(47, 48, 58, 0.4);
$fill-icon: #afb1b8;
$background-footer-link: rgba(255, 255, 255, 0.1);
$color-contacts-footer-link: rgba(255, 255, 255, 0.6);
$hover-button: #188ce8;
$background-icon-work: rgba(47, 48, 58, 0.8);
$background-projects: rgba(33, 150, 243, 0.9);
$backdrop: rgba(0, 0, 0, 0.2);
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
